<div id="app">
    <div id="gantt-header" class="h-12 p-2 flex items-center">
        <h1 class="text-xl font-bold">ガントチャート</h1>
      </div>
      <div id="gantt-content" class="flex">
        <div id="gantt-task">
            <div id="gantt-task-title" class="flex items-center bg-green-600 text-white h-20">
                <div class="border-t border-r border-b flex items-center justify-center font-bold text-xs w-48 h-full">タスク
                </div>
                <div class="border-t border-r border-b flex items-center justify-center font-bold text-xs w-24 h-full">開始日
                </div>
                <div class="border-t border-r border-b flex items-center justify-center font-bold text-xs w-24 h-full">完了期限日
                </div>
                <div class="border-t border-r border-b flex items-center justify-center font-bold text-xs w-16 h-full">担当
                </div>
                <div class="border-t border-r border-b flex items-center justify-center font-bold text-xs w-12 h-full">進捗
                </div>
              </div>
        </div>
        <div id="gantt-calendar">カレンダー領域</div>
    </div>
</div>




<script>
    const app = Vue.createApp({
        data(){
      return {
        start_month: '2020-10',
        end_month: '2021-02',
        block_size: 30,
        block_number: 0,
      }
    },
    methods:{
  getDays(year, month, block_number) {
    const dayOfWeek = ['日', '月', '火', '水', '木', '金', '土'];
    let days = [];
    let date = moment(`${year}-${month}-01`);
    let num = date.daysInMonth();
    for (let i = 0; i < num; i++) {
      days.push({
        day: date.date(),
        dayOfWeek: dayOfWeek[date.day()],
        block_number
      })
      date.add(1, 'day');
      block_number++;
    }
    return days;
  },    
  mounted() {
    console.log(this.getDays('2020','10',0))
} 
},
    }).mount('#app')
</script>